@import "styles/ConstColors.css";

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;
    padding: 8px;
}

@media (min-width: 720px) {
    .filter {
        flex-direction: row;
    }
}
