.header_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;
    background-color: black;
    padding: 10px;
}
.search_form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.search_input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}
.search_input:focus {
    outline: none;
    border-color: #007bff;
}
.search_btn {
    padding: 10px 20px;
    background-color: #b0b8c1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search_btn:hover {
    background-color: #0056b3;
}
@media (min-width: 770px) {
    .header_form {
        flex-direction: row;
        margin-bottom: 2em;
    }
    .search_input {
        flex: 0.4;
    }
}
