@import "styles/ConstColors.css";

.book_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 1em;
}
.result {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: bold;
}
.load_btn {
    margin: 40px auto 50px;
    max-width: 200px;
    display: flex;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: var(--gray-tertiary);
    background-color: var(--gray-quaternary);
    box-shadow: 0 9px var(--gray-quinary);
    border: none;
}
