@import "../../styles/ConstColors.css";

.book_card {
    width: 190px;
    flex: 0 1 auto;
    justify-content: space-between;
    text-decoration: none;
}
.card_img {
    border: 0.5px solid var(--white-tertiary);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px var(--dark-blue);
    border-radius: 4px;
}
.card_img:hover {
    border: 1px solid var(--purple-blue);
}
.card_title {
    margin-bottom: 0.5rem;
    color: var(--black);
    font-weight: bold;
    font-size: 16px;
    text-overflow: ellipsis;
}
.card_category {
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 600;
    color: var(--black);
}
.card_authors {
    margin-bottom: 0;
    font-size: 14px;
    color: var(--black);
}

@media (min-width: 480px) {
    .card_title {
        font-size: 18px;
    }
    .card_authors {
        font-size: 15px;
    }
}
