.book_card {
    width: 190px;
    flex: 0 1 auto;
    justify-content: space-between;
    text-decoration: none;
}
.card_img {
    border: 0.5px solid #d6dae1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(89, 115, 148, 0.3);
    border-radius: 4px;
}
.card_img:hover {
    border: 1px solid rgb(124, 88, 234);
}
.card_title {
    margin-bottom: 0.5rem;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-overflow: ellipsis;
}
.card_category {
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.card_authors {
    margin-bottom: 0;
    font-size: 14px;
    color: black;
}

@media (min-width: 480px) {
    .card_title {
        font-size: 18px;
    }
    .card_authors {
        font-size: 15px;
    }
}
