.book_card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

img {
    width: 250px;
    height: 300px;
}
