.book_details {
    display: flex;
    height: max-content;
}
.book_cover_wrapper {
    width: 40%;
    background-color: rgba(227, 227, 227, 0.832);
    min-width: 250px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book_img {
    width: 60%;
    height: auto;
    min-width: 150px;
    margin: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.book_info_wrapper {
    width: 60%;
    text-align: left;
    padding: 40px;
}
.book_category {
    color: rgb(129, 129, 129);
    font-size: 16px;
    margin-bottom: 40px;
}
.book_title {
    font-weight: bold;
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}
.book_authors {
    color: rgb(129, 129, 129);
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 30px;
}
.book_description {
    font-weight: 500;
    color: black;
    min-height: 50px;
    border: 1px solid black;
    font-size: 13px;
    padding: 15px;
}
